@{
    TempData["Title"] = "About";
}
<h2>@TempData["Title"].</h2>
<h3>@ViewBag.Message</h3>

<p> Learn more <i class="fa fa-graduation-cap"></i>at our @Html.ActionLink("tour page", "Tour", "Home") </p>
