<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-7">

        <h1>Legal</h1>

        <h2> User contributions </h2>
        <p>
            All user contributions are licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license"> creative commons </a>
        </p>

        <h2> Intellectual property </h2>
        <p>
            All intellectual property rights except user contributions are owned by <a href="http://nistencorp.com"> nistencorp. </a>
        </p>

        <a class="casual" href="/Home/Modification">
            This document is subject to revisions
        </a>

    </div>

    <div class="col-md-3"></div>

</div>
