
@{
    ViewBag.Title = "Modification";
}

<h2> Modification </h2>

<p> Some documents may get revised from time to time such as privacy policy, legal statement etc. </p>

<h2> Clarifications </h2>

<p> Please email clarification requests directly to <a href="mailto:nistencorp@gmail.com"> nistencorp@@gmail.com</a>. </p>
