<style>
    h1 {
        padding: 0.5em;
        text-align: center;
    }
</style>

<h1> Glad to see you! </h1>

<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8">
        <p>
            <i class="fa fa-check-circle"></i> knowrdible is a place for students, academics and aspiring professionals like us.
        </p>

        <p>
            <i class="fa fa-check-circle"></i> It is a clean platform to ask our academic questions and share knowledge.
        </p>

        <p>
            <i class="fa fa-check-circle"></i> <a data-toggle="tooltip" title="Yes, we promise" href="@Url.Action("Register","Account")">
    It's free forever
</a> - and we promise to keep it <span> deadly simple </span>
        </p>

    </div>

    <div class="col-md-2"></div>

</div>

<h1> <span style="color:#50D050;"> Democratic - it is our, by us and for us. </span> </h1>

<div class="row" id="Asking">

    <h1> We can ask for help for things such as: </h1>

    <div class="col-md-2"></div>

    <div class="col-md-8">
        <p>
            <i class="fa fa-check-circle"></i> A school, college or university level academic question which fairly requires help from our <a href="/Account/League">peers</a>.
        </p>
        <p>
            <i class="fa fa-check-circle"></i> A sum involving difficult calculations.
        </p>
        <p>
            <i class="fa fa-check-circle"></i> Explanation for <span data-toggle="tooltip" title="These are the topics for which content is not easily found thru commonly used sources such as web etc">
                not commonly known
            </span> and complex concepts -
            <span data-toggle="tooltip" title="Required - this will help others to not suggest us what we have already tried"> we have to show your research. </span>
        </p>
        <p>
            <i class="fa fa-check-circle"></i> About a difficulty being faced in <span data-toggle="tooltip" title="No bar on type of project"> an academic or a real life project. </span>
        </p>
        <p>
            <i class="fa fa-check-circle"></i> We need to ask <a href="http://www.catb.org/~esr/faqs/smart-questions.html"> questions smartly </a>.
        </p>
    </div>

    <div class="col-md-2"></div>

</div>

<div class="row" id="Contribution">

    <h1> We can surely payback </h1>

    <div class="col-md-2"></div>

    <div class="col-md-8">

        <p>
            <i class="fa fa-check-circle"></i> We can answer the questions of our <a href="/Account/League">peers</a>.
        </p>
        <p>
            <i class="fa fa-check-circle"></i> We need to explain our answers clearly and concisely - <span data-toggle="tooltip" title="Use good communication skills to make your point understandable"> use simple language. </span>
        </p>
        <p>
            <i class="fa fa-check-circle"></i> Avoid discussions, we need to address every possible query in our post.
        </p>
        <p>
            <i class="fa fa-check-circle"></i> Contribute knowledge <a href="http://meta.stackexchange.com/questions/109109/add-to-faq-how-to-give-good-answers"> smartly </a>.
        </p>
    </div>

    <div class="col-md-2"></div>

</div>

<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8" id="QualityFactor">

        <h1> We appreciate quality </h1>
        <p>
            <i class="fa fa-check-circle"></i> Feature nice posts by awarding marks.
        </p>
        <p>
            <i class="fa fa-check-circle"></i> There is no waste here. Like normal humans, we hate spam and abuse.
        </p>

        <a class="casual" href="/Home/Modification">
            This document is subject to revisions
        </a>

        <!--p>
            TODO: implement automatic hiding of posts with 10 negative marks
            <i class="fa fa-check-circle"></i> We are a little tough against useless posts - we will prevent them with at least
            <span data-toggle="tooltip" title="10 negative marks shall automatically hide a post"> 10 negative marks. </span>
        </p-->

    </div>

    <div class="col-md-2"></div>

</div>
