<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-7">

        <h1>Privacy</h1>

        <h2> Thank you for your trust </h2>
        <p>
            By using our services you trust us about your personal privacy. Thank you for showing your trust.
        </p>

        <h2> Our promise </h2>
        <p>
            We promise to use your personal information for enhancing your experience by providing better services.
        </p>


        <h2> Information we collect </h2>
        <p>
            We gather very basic information (such as <span data-toggle="tooltip" title="Date of birth"> DOB</span>, <span data-toggle="tooltip" title="Your geographic location"> location </span>, e-mail, and other information) when voluntarily provided by you.
        </p>

        <h2> Automatic collection of information </h2>
        <p>
            Some information is automatically collected such as your IP address etc.
        </p>

        <h2> Disclosure policy </h2>
        <p>
            Sell, trade or viewing of this data by any third party is not allowed.
        </p>
        <p>
            We may use <span data-toggle="tooltip" title="information without personal information such as names, DOB etc"> anonymized </span> data for analytics and providing analytics.
        </p>

        <h2> Exceptions to disclosure</h2>
        <p>
            When explicitly permitted.
        </p>
        <p>
            When we need to provide a requested service.
        </p>
        <p>
            When we need to help legal authorities.
        </p>

        <a class="casual" href="/Home/Modification">
            This document is subject to revisions
        </a>

    </div>

    <div class="col-md-3"></div>

</div>
