
@{
    TempData["Title"] = "Voting down";
}

<h2> What to do with non useful posts? </h2>

<div class="row">

    <div class="col-md-2">

    </div>

    <div class="col-md-6">

        <h3> When shall I mark post as not useful </h3>

        <p>
            <i class="fa fa-check-circle"></i> To highlight a post having spam / duplicate / irrelevant or abuse content.
        </p>

        <p>
            <i class="fa fa-check-circle"></i>  To highlight post showing no effort by the author.
        </p>

        <p>
            <i class="fa fa-check-circle"></i>  To highlight post having plagiarism.
        </p>
        
        <h3> Alternatives to marking posts as not useful </h3>

        <p>
            <i class="fa fa-check-circle"></i> Try to ask for clarification from the post author.
        </p>
        <p>
            <i class="fa fa-check-circle"></i>  Improve the original post.
        </p>
        <p>
            <i class="fa fa-check-circle"></i>  Flag post for adjudication attention.
        </p>

    </div>


    <div class="col-md-4 VH-centered rowItem">
        <div class="Items">
            <div class="postOptions-horizontal" style="">

                <div class="Votes">

                    <a href="#">
                        <i class="fa fa-chevron-circle-up" data-toggle="tooltip" title="This post is useful"></i>
                    </a>

                    <div data-toggle="tooltip" title="This post earned 100 marks">
                        100
                    </div>

                    <a href="#">
                        <i class="fa fa-chevron-circle-down" data-toggle="tooltip" title="Click to mark this as not useful"></i>
                    </a>

                </div>

            </div>

            <!--img src="~/Images/VoteDown.png" /-->
        </div>
    </div>

</div>
