@{
    TempData["Title"] = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@TempData["Title"].</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
